.centered {
	text-align: center;
}

#photoUploadForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-width: 5px;
	max-height: 900px;
	max-width: 900px;
	background-color: lightgray;
}

#image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
	min-width: 300px;
}