body {
	background-image: url(/static/resources/Themes/pink_rice/pink_rice.png);
	background-repeat: repeat;

}

#photoUploadForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-width: 5px;
	max-height: 900px;
	max-width: 900px;
	background-image: url(/static/resources/Themes/brushed/brushed.png);
	background-repeat: repeat;
}

#image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#siteTitle {
	padding-top: 20px;
	background-color: #FF0909;
}

#logo {
	font-family: 'Neuton', serif;
}

#navBar {
	text-align: center;
	font-style: italic;
	background-color: #31919F;
}

#navBar a {
	color: white;
}
#navBar a:hover {
	color: #3DCD3D;
}


footer{
	margin-top: 50px;
	background-color: #FFA24C;
	margin-bottom: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}
footer p {
	text-align: center;
	padding-top: 15px;
}




/*red: FF0909
	blue: 31919F
	orange: FFA24C
	green: 3DCD3D
*/


