<!DOCTYPE html>
<html>
<head>
	<title>Picture Pathology - About</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>
<div id="container">

  <div id="header">
  <!-- SITE LAYOUT -->
    <div id="siteTitle">
      <div class="row">
        <div class="small-centered medium-centered arge-uncentered  columns">
            <h1 class="small-only-text-center" id="logo">Picture Pathology</h1> 
        </div>
      </div>

      <p id="navBar">
      <a href="index.html">Get Started!</a> &emsp; <a href="about.html">About</a> &emsp;  <a href="data.html">Data Visulaization</a>
      </p>
    </div>
  <!-- SITE LAYOUT END -->
  </div>

  <div id="content">
  <div class="row">
    <div class="large-6 left columns">
      <h2>Using machine learning to identify diseases</h2>
      <p>At Picture Pathology, we are dedicated to using the principles of computer science and machine learning to more quickly adentify common skin diseases. This reduces the needs of people to see specialists, cutting down on healthcare costs, wait times, and providing better care for those who need it.</p>
    </div>

    <div class="large-6 right columns">
      <h2>Privacy is #1</h2>
      <p>We will never ask for your name or personal information. Nor do we store any photographs that we are sent. We collect photography data and analyse it against other photos of know conditions. If allowed, you can give us permission to access your location data and/or other important information. This is to help us better understand the underlying factors that may be causing certain issues.</p>
    </div>
  </div>
  <div class="row">
    <div class="large-6 left columns">
      <h2>Meet the team</h2>
      <p>Picture Pathology was developed in 24 hours as part of the HackMIT Hackathon in September 2015. The team consisted of 4 Rensselaer Polytechnic Institute students with a passion for using technology to create real world change.</p>
    </div>
    <div class="large-6 right columns">
      <h2>Get started now!</h2>
      <p>To begin using picture pathology, simply go to the uploads page, take a photo of the affected area, and send it to our data server for analysis. Within seconds, we will respond with our best guess at the condition (if one is present) and give you recommendtions on how to preceed. It's that easy.</p>
    </div>
  </div>
  </div>

  <div id="footer">
  <!-- SITE FOOTER -->
  <footer>
    <div class="large-12 small-12 small-centered large-centered columns">
      <p><a href="about.html">About</a> &emsp; <a href="data.html">Data Visulaization</a> </p>
    </div>
  </footer>
  <!-- END FOOTER -->
  </div>
</div>
	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/site.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>