<!DOCTYPE html>
<html>
<head>
	<title>Picture Pathology - Data</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>

  <!-- Site Title -->
  <div class="row">
    <div class="large-8 large-centered columns">
      <h1 class="centered">Data Analytics</h1>
    </div>
  </div>


  <!-- Visualization of data -->

  <!-- Number of diseases caught -->
  <!-- Number of negatives/doctors trips saved  Maybe something about wait times-->
  <!-- Map of world where diseases are found -->
  <!-- Map of user locations -->
  <!-- Number of people affected by diseases, by disease -->


	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/site.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>