<!DOCTYPE html>
<html>
<head>
	<title>Picture Pathology</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">

  <div id="header">
  <!-- SITE LAYOUT -->
    <div id="siteTitle">
      <div class="row">
        <div class="small-centered medium-centered arge-uncentered  columns">
            <h1 class="small-only-text-center" id="logo">Picture Pathology</h1> 
        </div>
      </div>

      <p id="navBar">
      <a href="index.html">Get Started!</a> &emsp; <a href="about.html">About</a> &emsp;  <a href="data.html">Data Visulaization</a>
      </p>
    </div>
  <!-- SITE LAYOUT END -->
  </div>



  <div id="content">
  <!-- Header for upload -->
  <div class="row" >
    <div class="large-12 large-centered columns">
      <h2 class="text-center">Upload a file for assesment</h2>
    </div>
  </div>

  <!-- DROPZONE FOR FILE UPLOAD -->
  <div class="row" id="dropzoneWrapper">
    <div class="large-12 large-centered columns">
      <fieldset id="photoUploadForm">
        <form id="form" action="#" method="post" onsubmit="return validate(this)">
          
          <!-- Hidden button that will activate on image click -->
          <input type="file" accept="image/*" id="hiddenButton" style="display: none;" />

          <!-- Image to upload -->
          <div class="row">
            <img id="image" src="/static/resources/images/upload.jpg" alt="CLICK HERE">
          </div>

          <!-- Submit button -->
          <div class="row" style="padding-top: 20px;">
            <div class="large-12 columns">
              <button type="submit" value="Submit" class="radius tiny" style="display: block; margin-left: auto; margin-right: auto;">Submit</button>
            </div>
          </div>

        </form>
      </fieldset>
    </div>
  </div>

  </div>

  <div id="footer">
  <!-- SITE FOOTER -->
  <footer id="footer">
    <div class="large-12 small-12 small-centered large-centered columns">
      <p><a href="about.html">About</a> &emsp; <a href="data.html">Data Visulaization</a> </p>
    </div>
  </footer>
  <!-- END FOOTER -->
  </div>

</div>

  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/site.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>

  <script>
    $(document).foundation();
  </script>

</body>
</html>